In [ ]:
# Load the data using pandas
import pandas as pd

# Replace with the excel data
df = pd.read_excel('Author_Counts.xlsx')

df.head()unique_authors_per_month_year = df.groupby(['Year', 'Date_Month'])['Author_Full_Name'].nunique()

# Convert to a dictionary
author_count_dict = unique_authors_per_month_year.to_dict()

# Reset index
author_counts_df = unique_authors_per_month_year.reset_index()

# Rename columns
author_counts_df.columns = ['Year', 'Month', 'Unique_Author_Count']

# create pivot format
pivot_table = author_counts_df.pivot(index='Year', columns='Month', values='Unique_Author_Count')

# Export to Excel
with pd.ExcelWriter('unique_authors_by_month_year.xlsx') as writer:
    author_counts_df.to_excel(writer, sheet_name='Flat_Table', index=False)
    pivot_table.to_excel(writer, sheet_name='Pivot_Table')

In [ ]:

# Load the data using pandas
import pandas as pd

# Replace with the excel data
df = pd.read_excel('Author_Counts.xlsx')

letters_per_author_year = df.groupby(['Year', 'Author_Full_Name']).size().reset_index(name='Letter Count')

# Convert to dictionary
from collections import defaultdict

author_year_dict = defaultdict(dict)
for _, row in letters_per_author_year.iterrows():
    year = row['Year']
    author = row['Author_Full_Name']
    count = row['Letter Count']
    author_year_dict[year][author] = count

# Print results
print("Letters sent per author by year:")
for year, authors in author_year_dict.items():
    print(f"\nYear: {year}")
    for author, count in authors.items():
        print(f"  {author}: {count}")

Letters sent per author by year:

Year: 1520
  Adrianus Barlandus: 2
  Conradus Vecerius: 2
  Desiderius Erasmus Roterodamus: 1
  Gerard Geldenhauer: 3
  John De Fevyn: 2
  Juan Luis Vives: 12
  Thomas More: 1

Year: 1521
  Conradus Vecerius: 1
  Gerard Geldenhauer: 3
  Guilielmus Zagarus: 1
  Joannes Becar Borsalus: 3
  Joannes Clement: 1
  Jodocus Gaverius: 1
  Johannes Hovius: 1
  John De Fevyn: 24
  Juan Luis Vives: 14
  Leonardus Clodius: 3
  Paulus de Mera: 2
  Petrus Curtius: 4
  Robertus Regius: 1
  Thomas More: 4

Year: 1522
  (unnamed): 1
  Arnoldus de Gruithuys: 1
  Conradus Vecerius: 2
  Gerard Geldenhauer: 3
  H. Bothe: 1
  John De Fevyn: 9
  Juan Luis Vives: 8
  Leonardus Clodius: 2
  Leonardus Vandevalus: 2
  Martinus Dorpius: 1
  Roseus: 1
  Thomas More: 1
  Walram Ticheler: 1

Year: 1523
  (unnamed): 1
  Adrianus Barlandus: 1
  Conradus Vecerius: 3
  Gerard Geldenhauer: 6
  Jerome Ruffault: 2
  John De Fevyn: 26
  Juan Luis Vives: 7
  Leonardus Clodius: 1
  Martinus Dorpius: 1
  Petrus Curtius: 1

Year: 1524
  Adrianus Barlandus: 1
  Alardus Amstelredamus: 1
  Albertus Pighius: 3
  Gerard Geldenhauer: 6
  James Nieulandt: 1
  John Corneput: 1
  John De Fevyn: 16
  Juan Luis Vives: 7
  Martinus Dorpius: 3
  Petrus Curtius: 2
  Petrus Joannes Olivarius: 1
  Thomas More: 1

Year: 1525
  Desiderius Erasmus Roterodamus: 3
  Gerard Geldenhauer: 1
  Giovanni Maria Cataneo: 1
  Guilielmus Zagarus: 1
  John De Fevyn: 14
  Juan Luis Vives: 8
  Martinus Dorpius: 1
  Nicolas Herco Florenas: 1
  Petrus Curtius: 7
  Thomas More: 2

Year: 1526
  Albertus Pighius: 4
  Desiderius Erasmus Roterodamus: 1
  Gerard Geldenhauer: 6
  James Nieulandt: 3
  John De Fevyn: 14
  Juan Luis Vives: 6
  Nicolas Herco Florenas: 6
  Petrus Curtius: 4
  Thomas More: 1

Year: 1527
  Albertus Pighius: 1
  Gerard Geldenhauer: 4
  James De la Potterie: 1
  John De Fevyn: 12
  Juan Luis Vives: 6
  Nicolas Herco Florenas: 3
  Petrus Curtius: 2
  Thierry Ariaans de Heeze: 1
  Thomas More: 1

Year: 1528
  Adrianus Barlandus: 1
  Frederik Schenck van Toutenburg: 2
  John De Fevyn: 4
  Juan Luis Vives: 3
  Nicolas Herco Florenas: 2
  Petrus Curtius: 3
  Roseus: 1
  Thomas More: 1
  Werner Aerdt: 1

In [ ]:

# Create a pivot table
pivot_df = df.pivot_table(index='Author_Full_Name', columns='Year', aggfunc='size', fill_value=0)

# Reset index
pivot_df = pivot_df.reset_index().rename(columns={'Author': 'Name'})

# Show the result
print(pivot_df)

Year                 Author_Full_Name  1520  1521  1522  1523  1524  1525  \
0                           (unnamed)     0     0     1     1     0     0
1                  Adrianus Barlandus     2     0     0     1     1     0
2               Alardus Amstelredamus     0     0     0     0     1     0
3                    Albertus Pighius     0     0     0     0     3     0
4               Arnoldus de Gruithuys     0     0     1     0     0     0
5                   Conradus Vecerius     2     1     2     3     0     0
6      Desiderius Erasmus Roterodamus     1     0     0     0     0     3
7     Frederik Schenck van Toutenburg     0     0     0     0     0     0
8                  Gerard Geldenhauer     3     3     3     6     6     1
9              Giovanni Maria Cataneo     0     0     0     0     0     1
10                 Guilielmus Zagarus     0     1     0     0     0     1
11                           H. Bothe     0     0     1     0     0     0
12               James De la Potterie     0     0     0     0     0     0
13                    James Nieulandt     0     0     0     0     1     0
14                    Jerome Ruffault     0     0     0     2     0     0
15             Joannes Becar Borsalus     0     3     0     0     0     0
16                    Joannes Clement     0     1     0     0     0     0
17                   Jodocus Gaverius     0     1     0     0     0     0
18                    Johannes Hovius     0     1     0     0     0     0
19                      John Corneput     0     0     0     0     1     0
20                      John De Fevyn     2    24     9    26    16    14
21                    Juan Luis Vives    12    14     8     7     7     8
22                  Leonardus Clodius     0     3     2     1     0     0
23               Leonardus Vandevalus     0     0     2     0     0     0
24                   Martinus Dorpius     0     0     1     1     3     1
25             Nicolas Herco Florenas     0     0     0     0     0     1
26                     Paulus de Mera     0     2     0     0     0     0
27                     Petrus Curtius     0     4     0     1     2     7
28           Petrus Joannes Olivarius     0     0     0     0     1     0
29                    Robertus Regius     0     1     0     0     0     0
30                             Roseus     0     0     1     0     0     0
31           Thierry Ariaans de Heeze     0     0     0     0     0     0
32                        Thomas More     1     4     1     0     1     2
33                    Walram Ticheler     0     0     1     0     0     0
34                       Werner Aerdt     0     0     0     0     0     0

Year  1526  1527  1528
0        0     0     0
1        0     0     1
2        0     0     0
3        4     1     0
4        0     0     0
5        0     0     0
6        1     0     0
7        0     0     2
8        6     4     0
9        0     0     0
10       0     0     0
11       0     0     0
12       0     1     0
13       3     0     0
14       0     0     0
15       0     0     0
16       0     0     0
17       0     0     0
18       0     0     0
19       0     0     0
20      14    12     4
21       6     6     3
22       0     0     0
23       0     0     0
24       0     0     0
25       6     3     2
26       0     0     0
27       4     2     3
28       0     0     0
29       0     0     0
30       0     0     1
31       0     1     0
32       1     1     1
33       0     0     0
34       0     0     1

In [ ]:
# Pivot table to excel
pivot_df.to_excel("cranevelt_letters.xlsx", index=False)